<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ2uP4j5ZU2L_BdayxxQsZ3i5HJCQqrnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315562337277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coredax.meetingRoom</string>
	<key>PROJECT_ID</key>
	<string>coredax-meeting</string>
	<key>STORAGE_BUCKET</key>
	<string>coredax-meeting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315562337277:ios:82bb4dc7077d487b062f94</string>
</dict>
</plist>